<%# Template for a completed file row (hidden input + trash + label). JS clones this, sets input name/value, .selected-file-name and optional .selected-file-upload-time. %>
<template id="selected-file-row-template">
  <li class="list-group-item selected-file list-group-item-primary small">
    <input type="hidden" class="selected-file-input" name="push[files][]" value="">
    <a href="#" data-action="multi-upload#removeFile"><em class="bi bi-trash me-2"></em></a>
    <span class="selected-file-name"></span>
    <span class="selected-file-upload-time text-muted small ms-1"></span>
  </li>
</template>
