<div class='text-center m-3'>
    <p class=""><strong><%= _('Please obtain and securely store this content in a secure manner, such as in a password manager.') %></strong></p>
    <%= qr_code(push.payload) %>
<div>
