<div class="container h-100">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <p>
      <%= link_to _("Click Here to Proceed"), @secret_url,
        "data-turbo-prefetch": false,
        "data-turbolinks": false,
        "data-turbo": false,
        rel: "no-prefetch" %>
    </p>
  </div>
</div>
