
<div class="container-fluid h-100 mx-0 py-0 px-0">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <%= link_to t('confirmation_go'), user_confirmation_path({ confirmation_token: h(params[:confirmation_token]), go: true}) %>
  </div>
</div>
