# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: '\.enc$'
    - id: end-of-file-fixer
      exclude: '\.enc$'
    - id: check-yaml
    - id: check-added-large-files

- repo: local
  hooks:
    - id: rubocop
      name: Running rubocop
      entry: rubocop
      language: system
      pass_filenames: false
      #args: ['-a']
      always_run: true
      stages: [pre-commit]
