{
  # Replace with your email for Let's Encrypt notifications
  email user@example.com
  acme_ca https://acme-v02.api.letsencrypt.org/directory  # Use Let's Encrypt production API
}

# Replace "localhost" with your domain (or subdomain) and SSL
# certificates will automatically retrieved and managed.
#
# Example: pwp.example.com
#
localhost {
  reverse_proxy pwpush:5100

  header {
    Strict-Transport-Security max-age=31536000
    Set-Cookie (.*) "$1; Secure"
  }
}
