<% title(_('Enter The Secret Passphrase')) %>

<div class="container-fluid h-100">
  <div class="row d-flex justify-content-center align-items-center h-100 min-vh-100">
        <div class="col col-md-8">
            <div class="card">
                <form action="<%= access_url_path %>" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="passphrase" id="passphrase" autofocus="autofocus"
                      placeholder="<%= _('Enter the secret passphrase provided with this URL') %>" aria-label="<%= _('Enter the secret passphrase') %>" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="submit" id="button-addon2"><%= _('Go') %></button>
                </div>
                </form>
            </div>
        </div>
  </div>
</div>