<div class="container h-100">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <p> <%= link_to _("Click Here to Proceed"), @secret_url %> </p>
    </div>
</div>
