%h1
  = current_user.email + ' passwords'

%table{align: 'center'}
  %tr
    %td link
    %td days old
    %td views remaining
    %td action
  - @passwords.each do |p|
    %tr
      %td
        %a#url{href: '/p/'+p.to_param}
          = root_url+'/p/'+p.to_param
      %td
        = p.days_remaining
      %td
        = p.views_remaining
      %td
        %button.btn.btn-copy{ 'data-clipboard-target' => '#url' }
          %p Copy link to Clipboard
