<% title('Forgot Password') %>

<%= form_for(resource, as: resource_name, url: user_password_path, html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <p class='my-3 py-3 lead border-bottom'>Forgot Password</p>

  <div class="form-floating">
    <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", required: true %>
    <%= f.label :email, for: :email %>
  </div>

  <div class="form-floating">
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Send Reset Instructions</button>
  </div>
<% end %>
  