<div class="pt-3 pb-2">
  <div class="d-flex align-items-center w-100 mt-2 mb-3">
    <span class="text-muted text-nowrap"><%= _('Additional Options') %></span>
    <div class="flex-grow-1 border-top mx-3"></div>
    <button
      type="button"
      class="d-flex align-items-center btn btn-outline-secondary rounded-pill btn-sm px-3"
      data-bs-toggle="collapse"
      data-bs-target="#additionalOptionsCollapse"
      aria-expanded="false"
      aria-controls="additionalOptionsCollapse">
      <em class="bi bi-plus me-1"></em>
      <%= _('Show / Hide') %>
    </button>
  </div>

  <div class="collapse border rounded-start px-3 px-md-4 py-2 py-md-3" id="additionalOptionsCollapse">
    <%= yield %>
  </div>
</div>
