<% if notice && !notice.include?("translation missing") %>
  <div class="alert alert-warning alert-dismissible fade show mx-2" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% elsif alert && !alert.include?("translation missing") %>
  <div class="alert alert-danger alert-dismissible fade show mx-2" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
