/ %a.auth_provider{:href => user_omniauth_authorize_path(:twitter)}
/   = image_tag "https://s3.amazonaws.com/gameface/images/authbuttons/twitter_64.png", :size => "64x64", :alt => "Twitter"
/   Twitter
%a.auth_provider{:href => user_omniauth_authorize_path(:google)}
  = image_tag "https://s3.amazonaws.com/gameface/images/authbuttons/google_64.png", :size => "64x64", :alt => "Google"
  Google
%a.auth_provider{:href => user_omniauth_authorize_path(:yahoo)}
  = image_tag "https://s3.amazonaws.com/gameface/images/authbuttons/yahoo_64.png", :size => "64x64", :alt => "Yahoo"
  Yahoo
