<% if Settings.show_gdpr_consent_banner %>
  <div class="fixed-bottom bg-dark text-light text-center p-0"
      data-controller="gdpr"
      data-gdpr-target="cookieBanner"
      style="display: none;">
    <%= _('Browser cookies help make this tool work. By using it, you agree the use of these cookies.') %>

    <button class="btn btn-small btn-primary m-2" data-action="click->gdpr#acceptCookies">OK</button>
  </div>
<% end %>
