<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <%= link_to _('Active'), dashboard_active_path, class: "nav-link #{ 'active' if current_page?(dashboard_active_path) }" %>
  </li>
  <li class="nav-item">
    <%= link_to _('Expired'), dashboard_expired_path, class: "nav-link #{ 'active' if current_page?(dashboard_expired_path) }" %>
  </li>
</ul>