
<p>
<<<<<<< HEAD
-- 
<br/>
<%= link_to Settings.brand.title, root_url %>
<br/>
<span class="fs-6 text-muted"><%= Settings.brand.tagline %></span>
=======
-- <br/>
Sent by <a href="<%= root_url %>">Market Scan Password Pusher</a>
</p>
>>>>>>> cdc1ea67 (MSIS initial Branding)
