
<footer class="footer mt-auto py-3">
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">&copy; 2021 Peter Giacomo Lombardo</p>

      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <picture>
          <source srcset="<%= asset_pack_path('media/img/logo-transparent-sm-bare.png') %>" media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)">
          <source srcset="<%= asset_pack_path('media/img/logo-transparent-sm-dark-bare.png') %>" media="(prefers-color-scheme: dark)">
          <img src="<%= asset_pack_path('media/img/logo-transparent-sm-bare.png') %>", alt="Password Pusher Logo", style='height: 40px;' />
        </picture>
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/pages/tools" class="nav-link px-2 text-muted">Tools</a></li>
        <li class="nav-item"><a href="/pages/faq" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="/pages/about" class="nav-link px-2 text-muted">About</a></li>
      </ul>
    </footer>
  </div>
</footer>