
<footer class="footer-distributed">

<div class="footer-left">
    <%= link_to image_tag('naked-logo.png'), '/' %>
    <p class="footer-company-name">© 2021 Peter Giacomo Lombardo</p>
</div>

<div class="footer-center">
  <ul>
    <li><a href="/pages/why">Why Password Pusher?</a></l>
    <li><a href="/pages/faq">Frequently Asked Questions</a></l>
    <li><a href="/pages/tools">Tools & Applications</a></li>
    <li><a href="/pages/promise">Promise</a></l>
    <li><a href="/pages/help">Help Out</a></l>
    <li><a href="/pages/about">About</a></li>
  </ul>
</div>

<div class="footer-right">
<p class="footer-company-about">
  <span>About Password Pusher</span>

  PasswordPusher is an application to securely send passwords over the web. Links to passwords expire after a certain number of views and/or time has passed.

        <div class="footer-icons">
          <a href="https://github.com/pglombardo/PasswordPusher" class="fa fa-github"></a>
          <a href="https://twitter.com/pwpush" class="fa fa-twitter"></a>
        </div>
</footer>