<!-- Language Selector Modal -->
<div class="modal fade" id="languageModal" tabindex="-1" aria-labelledby="languageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="languageModalLabel"><%= _('Select your language') %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if Settings.language_codes %>
          <% I18n.available_locales.each_slice(4) do |group| %>
            <div class="row">
            <% group.each do |lang| %>
                <div class="col-3 m-0 p-0">
                  <div class="card text-center">
                    <div class="card-body p-1">
                      <p class="card-text">
                          <%= link_to url_for(locale: lang.to_s), hreflang: lang.to_s, rel: 'alternate', class: "nav-link text-muted" do %>
                            <em class="fi fi-<%= Settings.country_codes[lang] %>"></em>
                            <br/>
                            <%= Settings.language_codes[lang] %>
                          <% end %>
                      </p>
                    </div>
                  </div>
                </div>
            <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>