
<div class="card mb-3">
    <h5 class="card-header"><em class="bi bi-envelope"></em> <%= _('Get The Newsletter') %></h5>
    <div class="card-body">
        <p><%= _('Updates on big releases, security issues, features, integrations, tips and more.') %></p>
        <form
        action="https://buttondown.email/api/emails/embed-subscribe/pwpush"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/pwpush', 'popupwindow')"
        class="embeddable-buttondown-form">
        <input type="hidden" name="tag" value="pwpush.com">
        <input type="email" class="form-control mb-3" name="email" autocomplete="on" id="bd-email" placeholder="<%= _("Enter your email...") %>">
        <input type="submit" class="form-control btn btn-primary" value="<%= _("Subscribe") %>">
        </form>
    </div>
</div>
