<% if push.errors.any? %>
    <div class="alert alert-danger">
        <div><%= pluralize(push.errors.count, "error") %> prohibited this push from being saved:</div>

        <ul>
        <% push.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
        </ul>
    </div>
<% end %>
