<div class='input-group mb-5 w-75' data-controller="copy">
    <input class='form-control' id='secret_url' value='<%= @secret_url %>' spellcheck='false' readonly='true' data-copy-target="payloadDiv">
    <button class=' input-group-text btn-success ' data-action="click->copy#miniCopyToClipboard" alt="<%= _('Copy to Clipboard') %>">
        <em class="bi bi-clipboard-check"></em>
    </button>
</div>
