<div 
  class='payload spoiler notranslate px-5 py-3 mb-3 border-top border-bottom border-5 w-100 bg-white text-break text-wrap text-center display-4' 
  id='password_payload' 
  translate='no'><%=@payload%></div>