<h1 id="about">About</h1>

<p>Password Pusher is an application to communicate passwords over the web. Links to passwords expire after a certain number of views and/or time has passed.  Hosted at <a href="https://pwpush.com">pwpush.com</a> or host your own.</p>

<p>The source code to this site is <a href="https://github.com/pglombardo/PasswordPusher">on Github</a>. It’s opensource and free for anyone to use or modify. Deploy it to the cloud, internally at your organization or just use pwpush.com. It’s up to you.</p>

<h2 id="the-author">The Author</h2>

<p>My name is Peter Giacomo Lombardo. You can find me on <a href="https://www.linkedin.com/in/peterlombardo/">LinkedIn</a>, <a href="https://github.com/pglombardo">Github</a> or <a href="https://the0x00.dev">The OxOO</a>.</p>

<p>For updates, you can <a href="https://twitter.com/pwpush">follow me on Twitter</a> or <a href="https://github.com/pglombardo">Github</a>.</p>

<h2 id="credits">Credits</h2>

<p>Password Pusher has a great community of contributors. <a href="https://github.com/pglombardo/PasswordPusher/graphs/contributors">Take a look</a>.</p>
