<h1 id="faq">FAQ</h1>

<h2 id="what-purpose-does-passwordpusher-serve">What purpose does PasswordPusher serve?</h2>

<p>PasswordPusher exists as a better alternative to emailing passwords.</p>

<p>Emailing passwords is inherently insecure. The greatest risks include:</p>

<ul>
  <li>Emailed passwords are usually sent with context to what they go to or can potentially be derived from email username, domain etc…</li>
  <li>Email is inherently insecure and can be intercepted at multiple points by malicious entitities.</li>
  <li>Emailed passwords live in perpetuity (read: forever) in email archives</li>
  <li>Passwords in email can be retrieved and used later on if an email account is stolen, cracked etc..</li>
</ul>

<p>By using PasswordPusher, you bypass all of this. For each password posted, a unique URL is generated that only you will know. Additionally, passwords expire after a predefined set of views are hit or time passed. Once expired, passwords are unequivocally deleted.</p>

<h2 id="trust-is-a-concern-why-should-i-use-passwordpusher">Trust is a concern. Why should I use PasswordPusher?</h2>

<p>And rightfully so. All good security begins with healthy skepticism of all involved components.</p>

<p>PasswordPusher exists as a better alternative to emailing passwords. It avoids having passwords exist in email archives in perpetuity. It does not exist as a end-all security solution.</p>

<p>It’s opensource so the source can be publicly reviewed and can alternatively be run internally in your organization if you prefer.</p>

<p>Passwords are deleted from the database once they expire. Additionally, random URL tokens are generated on the fly and passwords are posted without context (what they go to).</p>

<p>And for the truly paranoid: there is no way I can reliably prove that the opensource code is the same that runs on <a href="https://pwpush.com/">pwpush.com</a> (this is true for all sites in reality). The only thing I can provide in this respect is my public reputation: Github, and Twitter. If this is a concern to you, feel free to review the code, post any questions that you may have and consider running it internally at your organization instead.</p>

<h2 id="could-you-add-a-specific-feature-for-my-organization">Could you add a specific feature for my organization?</h2>

<p>Very likely.  I love to hear all ideas &amp; feedback. If you have any, please submit them to the <a href="https://github.com/pglombardo/PasswordPusher">Github repository</a> and I will respond as soon as possible.</p>

<h2 id="how-do-you-make-money">How do you make money?</h2>

<p>I don’t. This is just a pet project I work on in my spare time built for the community. Monthly costs are $17/month for Heroku hosting and any time/effort that I’ve put in or will put in developing the tool is voluntary/donated.</p>

<p>I’ve thought about moving the site to a Digital Ocean droplet but Heroku just makes it so easy. No configuring Apache/nginx, deploy scripts, monitoring services etc… But in all honesty, that $20/month just for SSL is kind of aggrevating.</p>
