<article>
<h1>FAQ</h1>
<h2>I don't get it.  What is this for?</h2>
<p>
PasswordPusher exists as a better alternative to emailing passwords.
</p>
<p>
Emailing passwords is inherently insecure.  The greatest risks include:
<ul>
<li>Emailed passwords are usually sent with context to what they go to or can potentially be derived from email username, domain etc...</li>
<li>Email is inherently insecure and can be intercepted at multiple points by malicious entitities.</li>
<li>Emailed passwords live in perpetuity (read: forever) in email archives</li>
<li>Passwords in email can be retrieved and used later on if an email account is stolen, cracked etc..</li>
</ul>
</p>
<p>
By using PasswordPusher, you bypass all of this.  For each password posted, a unique URL is generated that only you will know.
Additionally, passwords expire after a predefined set of views are hit or time passed.  Once expired, passwords are unequivocally deleted.
</p>
<hr>
<h2>I don't trust you.  Why should I use PasswordPusher?</h2>
<p>
And rightfully so.  All good security begins with healthy skepticism of all involved components.
</p>
<p>
PasswordPusher exists as a better alternative to emailing passwords.  It avoids having passwords exist in email archives in perpetuity.  It does not exist as a end-all security solution.
</p>
<p>
It's
<a href="https://github.com/pglombardo/PasswordPusher">opensource</a>
and can be
<a href="https://github.com/pglombardo/PasswordPusher#-running-your-own-instance-of-passwordpusher">run internally</a>
in your organization if you prefer.
</p>
<p>
Passwords are completely deleted once they expire.  Additionally, random URL tokens are generated on the fly and passwords are posted without context (what they go to).
</p>
<p>
And for the truly paranoid, there is no way I can reliably prove that the opensource code is the same that runs on
<a href="https://pwpush.com">pwpush.com</a>
(this is true for all sites in reality).
The only thing I can provide in this respect is my public reputation:
<a href="https://github.com/pglombardo">Github</a>,
and
<a href="https://twitter.com/pglombardo">Twitter</a>.
If this is a concern to you, feel free to
<a href="https://github.com/pglombardo/PasswordPusher">review the code</a>,
<a href="https://github.com/pglombardo/PasswordPusher/issues">post any questions that you may have</a>
and consider
<a href="https://github.com/pglombardo/PasswordPusher#-running-your-own-instance-of-passwordpusher">running it internally</a>
at your organization instead.
</p>
<hr>
<h2>Could you add X feature?</h2>
<p>
I love to hear all feedback.  If you have any ideas or suggestions, please submit them to the
<a href="https://github.com/pglombardo/PasswordPusher/issues">Github repository</a>.
</p>
<hr>
<h2>How do you make money?</h2>
<p>
I don't.  This is just a pet project I work on in my spare time built for the community.  Monthly costs
are $17/month for Heroku hosting and any time/effort that I've put in or will put in developing the tool
is voluntary/donated.
</p>
<p>
I've thought about moving the site to a Digital Ocean droplet but Heroku just makes it so easy.  No configuring
Apache/nginx, deploy scripts, monitoring services etc...  But in all honesty, that $20/month just for SSL
is kind of aggrevating.
</p>
</article>