
<p>I make no money from Password Pusher.  I pay the hosting fees out of pocket - <strong>and it’s absolutely my pleasure</strong>.  I enjoy the project that only requires occasional spurts of effort and I’m always happy to help out my sysadmin/support/devops/netsec friends around the world.</p>

<p>With that said, if anyone has the urge to give back to support Password Pusher, I would only request one or more of the following:</p>

<ol>
  <li>Share and suggest Password Pusher to colleagues and friends on social media and off</li>
  <li>Follow me (<a href="https://twitter.com/pwpush">Twitter</a>, <a href="https://github.com/pglombardo">Github</a>) and <a href="https://github.com/pglombardo/PasswordPusher">star the Github project</a> (no value but it’s fun to see the numbers)</li>
  <li>If you’re inclined, you could always contribute code, fixes, improvements or documentation <a href="https://github.com/pglombardo/PasswordPusher">via Github</a>.</li>
  <li>You could buy something at my <a href="https://oldschool.shopping">completely unrelated store</a>.</li>
</ol>

<p>Thank you for supporting Password Pusher!</p>

<p>Peter Giacomo Lombardo</p>

