<% title('How To Use Password Pusher') %>
<h4 class='border-bottom my-3 py-3'>How To Use Password Pusher</h4>

<p>
	Password Pusher is an application to communicate passwords over the web. Links to passwords 
	expire after a certain number of views and/or time has passed.
</p>
<p> 
	Hosted at <a href="<%= root_url %>" target="_blank"><%= root_url %></a>.
</p>

<h5 class='border-bottom my-3 py-3'>Instructions</h5>

<ol>
	<li>Either paste the password to be shared into the field that says "Enter the Password to be Shared" OR click the [Generate Password] button to create one that uses the specified options (the settings gear to the right of the [Generate Password] button)</li>
	<ul><li>Do NOT put both the username and password here if at all possible</li></ul>
	<li>Confirm, the expiration days and number of views (the defaults of 7 Days or 5 Views is just fine).</li>
	<li>Click [Push It!]</li>
	<li>Wait for the page to reload, telling you "Your password has been pushed." </li>
	<li><strong>COPY the link</strong> <em>in the text box in the middle of the page.</em></li>
	<li>Send the copied link where you need to</li>
</ol>
