<h1 id="promise">Promise</h1>

<p>July 2021</p>

<p>As we’re coming up now on <a href="https://twitter.com/pwpush/status/1402331907824701447">10 years of Password Pusher</a>, there are some guiding principles that have always been followed but haven’t been documented (until now).</p>

<p>As I continue to develop Password Pusher, adding new features and functionality, there are some tenets that I will continue to stay true to:</p>

<p><strong>1. Zero Distraction Password Reveal Page</strong></p>

<p>When you send users the secret link to a password, what is worse if those users are distracted and confused by the page they arrive at?  Could you imagine if there was advertising?  I would quickly switch away from that tool as soon as possible.</p>

<p>The end goal is to communicate a password to end users.  Some end users are more easily distracted and confused than others.  We always try to minimize these end user challenges.  :-)</p>

<p>So in this vein, we will always make sure to keep the password reveal page as simple and straight forward as possible.  That means <strong>no branding</strong>, <strong>no links</strong> and <strong>no confusing text or designs</strong>.</p>

<p><img src="https://disznc.s3.amazonaws.com/Screen-Shot-2021-06-12-at-6.29.43-PM.png" alt="Example Password Reveal Page" /></p>

<p><strong>2. An Accessible and Easy to Deploy Application</strong></p>

<p>Password Pusher is by origins an <a href="https://github.com/pglombardo/PasswordPusher">opensource application</a> that is often forked, modified and deployed internally (and externally) at various organizations.  This is great and as always I’ll continue to support this as I’ve done in the past.</p>

<p>As of June 2021, we now have <a href="https://hub.docker.com/u/pglombardo">automated docker builds</a> and support a <a href="https://github.com/pglombardo/PasswordPusher#-run-your-own-instance">large number of deployment targets</a>.</p>

<p><strong>3. Prioritize features requested by the community of users</strong></p>

<p>This is mostly self-explanatory.  Most of the changes in the last few years were at the request of users.  This is great and will continue.</p>

<h2 id="what-else">What else?</h2>

<p>Is there anything else you would like to see here?  <a href="https://github.com/pglombardo/PasswordPusher/issues/new">Let me know</a>.</p>
