<center>
  <h2>Add Password Pusher to your Slack workspace...</h2>
  <p>&nbsp;</p>
  <p>...and push passwords directly from your Slack chat.</p>
  <p>&nbsp;</p>
  <p>
    <%= image_tag 'https://pwpush.s3.eu-west-1.amazonaws.com/pwpush-slack.png' %>
  </p>
  <p>&nbsp;</p>
  <p>Click below to add Password Pusher to your Slack workspace.</p>
  <p>&nbsp;</p>
  <p>
    <%= raw '<a href="https://slack.com/oauth/authorize?client_id=6766385747.446095698624&scope=commands"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>' %>
  </p>
</center>
