<center>
<h2>The Password Pusher Slack extension has been installed.</h2>
<p>&nbsp</p>
<p>Now try it out!</p>
<p>&nbsp</p>
<p>
  <%= image_tag 'https://pwpush.s3.eu-west-1.amazonaws.com/pwpush-slack.png' %>
</p>

<strong>Examples:</strong>:

<pre>
/pwpush mypassword

/pwpush mypassword 10,30  (10 views & 30 days)
</pre>

</center>
