<p style="clear: both;">
  <h1>Thanks for using PasswordPusher.</h1>
</p>
<div class="about_content">
  <center>
    <p>Now try it out!</p>
    <p>
      <%= image_tag 'https://disznc.s3.amazonaws.com/pwpush-slack.png' %>
    </p>
  </center>
</div>
