
%p{ :style => 'clear: both;' }
  %h1 Thanks for using PasswordPusher.

.about_content
  %center
    %p Now try it out!

    %p=image_tag 'https://disznc.s3.amazonaws.com/pwpush-slack.png'

%p.notes
  = link_to "Front Page", root_path
  \|
  = link_to "About PasswordPusher", page_path('about')
  \|
  = link_to "Github", "https://github.com/pglombardo/PasswordPusher"
  \|
  = link_to "FAQ", page_path('faq')
