<h1 id="tools--applications">Tools &amp; Applications</h1>

<h2 id="command-line-utilities">Command Line Utilities</h2>

<ul>
  <li>
    <p><a href="https://github.com/pgarm/pwposh">pgarm/pwposh</a>: a PowerShell module available in the <a href="https://www.powershellgallery.com/packages/PwPoSh/">PowerShell Gallery</a></p>
  </li>
  <li>
    <p><a href="https://github.com/kprocyszyn/tools/blob/master/Get-PasswordLink/Get-PasswordLink.ps1">kprocyszyn/.Get-PasswordLink.ps1</a>: a PowerShell based CLI</p>
  </li>
  <li>
    <p><a href="https://github.com/lnfnunes/pwpush-cli">lnfnunes/pwpush-cli</a>: a Node.js based CLI</p>
  </li>
  <li>
    <p><a href="https://github.com/abkierstein/pwpush">abkierstein/pwpush</a>: a Python based CLI</p>
  </li>
</ul>

<h2 id="android-apps">Android Apps</h2>

<ul>
  <li><a href="https://play.google.com/store/apps/details?id=com.chesire.pushie">Pushie</a> by <a href="https://github.com/chesire">chesire</a></li>
</ul>

<h2 id="application-integrations">Application Integrations</h2>

<ul>
  <li>
    <p><a href="https://github.com/pglombardo/PasswordPusher/wiki/PasswordPusher-&amp;-Slack:-Custom-Slash-Command">Slack: How to Add a Custom Slash Command</a></p>
  </li>
  <li>
    <p><a href="http://www.packal.org/workflow/passwordpusher">Alfred Workflow</a> for Mac users</p>
  </li>
</ul>

<h2 id="api">API</h2>

<ul>
  <li><a href="https://github.com/pglombardo/PasswordPusher/wiki/Password-API">JSON API</a></li>
</ul>
