<div class='about_content'>
<h1>Related Tools & Utilities</h2>
<ul>
  <li>
      A
      <%= link_to "PowerShell script", "https://github.com/kprocyszyn/tools" %>
      for Password Pusher by
      <%= link_to "Kamil Procyszyn", "https://twitter.com/kprocyszyn/status/970413009511251968" %>
  </li>
  <li>
      A
      <%= link_to "nodeJS CLI wrapper", "https://github.com/lnfnunes/pwpush-cli" %>
      to easily push passwords to pwpush.com
  </li>
  <li>
      An
      <%= link_to "Alfred App Workflow", "http://www.packal.org/workflow/passwordpusher" %>
      to quickly push passwords from your Mac
  </li>
</ul>
</div>

