<h2 id="what-purpose-does-password-pusher-serve">What purpose does Password Pusher serve?</h2>

<p>Password Pusher exists as a better alternative to emailing passwords.</p>

<p><strong>Emailing passwords is inherently insecure.</strong> The greatest risks include:</p>

<ul>
  <li>Emailed passwords are usually sent with context to what they go to or can potentially be derived from email username, domain etc…</li>
  <li>Email is inherently insecure and can be intercepted at multiple points by malicious entitities.</li>
  <li>Emailed passwords live in perpetuity (read: forever) in email archives</li>
  <li>Passwords in email can be retrieved and used later on if an email account is stolen, cracked etc..</li>
</ul>

<p>The same risks persist when sending passwords via SMS, WhatsApp, Telegram, Chat etc…  The data can and is often perpetual and out of your control.</p>

<p><strong>By using Password Pusher, you bypass all of this.</strong></p>

<p>For each password posted to Password Pusher, <strong>a unique URL is generated that only you will know</strong>. Additionally, <strong>passwords expire after a predefined set of views are hit or time passed</strong>. Once expired, passwords are unequivocally deleted.</p>

<p>If that sounds interesting to you, <a href="/">try it out</a> or see our other <a href="/pages/faq">Frequently Asked Questions</a>.</p>
