base: &base
  adapter: sqlite3
  pool: <%= ENV["DB_POOL"] || ENV['RAILS_MAX_THREADS'] || 5 %>
  retries: 100
  timeout: 10000
  default_transaction_mode: immediate

development:
  database: storage/db/development.sqlite3
  <<: *base

test:
  database: storage/db/test.sqlite3
  <<: *base

production:
  database: storage/db/production.sqlite3
  <<: *base
