%h1 Listing passwords

%table
  %tr
    %th
    %th
    %th

  - @passwords.each do |password|
    %tr
      %td= link_to 'Show', password
      %td= link_to 'Edit', edit_password_path(password)
      %td= link_to 'Destroy', password, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Password', new_password_path
