<div class="container h-100">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <p> <%=link_to _("Click Here to View the Password"), raw_secret_url(@password) %> </p>
    </div>
</div>
