<% plain_title(_('Your Secret Link Has Expired')) %>

<div class="container h-100">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
      <p class="display-1 text-center p-3 border-bottom">
        <%= _('We apologize but this secret link has expired.') %>
      </p>
      <p class='text-center'><%= _('If needed, please contact the person or organization who gave you this secret URL.') %></p>
    </div>
</div>
