<!-- Mission Control Header -->
<div style="margin-bottom: 1rem; padding: 1rem; background-color: white; border-bottom: 1px solid #e5e5e5;">
  <div class="level">
    <div class="level-left">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>
            <%= link_to "/admin", class: "has-text-grey" do %>
              <span class="icon is-small">
                <svg width="16" height="16" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"></path>
                </svg>
              </span>
              <span>Administration</span>
            <% end %>
          </li>
          <li class="is-active">
            <span>Background Jobs</span>
          </li>
        </ul>
      </nav>
    </div>
    <div class="level-right">
      <div class="level-item">
        <%= link_to "/admin", class: "button is-light is-small" do %>
          <span class="icon is-small">
            <svg width="16" height="16" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
            </svg>
          </span>
          <span>Back to Administration Center</span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div>
          <h1 class="title is-4 has-text-dark">
            <span class="icon is-medium has-text-primary">
              <svg width="24" height="24" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"></path>
              </svg>
            </span>
            Background Jobs
          </h1>
          <p class="subtitle is-6 has-text-grey">Monitor and manage background job processing and queues</p>
        </div>
      </div>
    </div>
  </div>
</div>
