<div class="spacer" style="height: 100px;"></div>
<h1>#500</h1>
<p>
  Something went bad.  That thing you did...it's broken.  
</p>
<p>
  Try again if you like but I have my doubts.
</p>
<p>
  I'll get an email about this and take a look soon...
</p>
<div class="spacer" style="height: 100px;"></div>
<% if Rails.env == "production" or Rails.env == "development" %>
  <p class="notes">
    <p>
      <%= link_to "Back to the front page.", "/" %>
    </p>
    <p>
      <%= = ...or if this is driving you nuts, you could always log %>
      <%= link_to "an issue on Github.", "https://github.com/pglombardo/PasswordPusher/issues?state=open", :target => "_blank" %>
    </p>
  </p>
<% end %>
