.spacer{ :style => 'height: 100px;' }

%h1 #500

%p
  Something went bad.  That thing you did...it's broken.  
  
%p
  Try again if you like but I have my doubts.
  
%p
  I'll get an email about this and take a look soon...

.spacer{ :style => 'height: 100px;' }

- if Rails.env == "production" or Rails.env == "development"
  %p.notes
    %p= link_to "Back to the front page.", "/"
    %p
      == ...or if this is driving you nuts, you could always log
      = link_to "an issue on Github.", "https://github.com/pglombardo/PasswordPusher/issues?state=open", :target => "_blank"
