<table align="center">
  <tr>
    <th>Password URL</th>
    <th>IP</th>
    <th>User Agent</th>
  </tr>
  <% @views.each do |v| %>
    <tr>
      <td><%= link_to v.password.to_param, password_path(v.password.to_param) %></td>
      <td><%= v.ip %></td>
      <td><%= v.user_agent %></td>
    </tr>
  <% end unless @views.empty? %>
</table>

<%= link_to 'Go to Password list', pwds_path, class: 'btn btn-info' %>