<% title(_('Securely Send Files')) %>

<div class='container'>
    <%= render partial: "shared/topnav" %>
    <div class="d-flex flex-column mh-100 justify-content-center align-items-center" style="height: 300px;">
        <p class="lead text-center">
            <%= _('Please log in to use this feature.') %>
        </p>
    </div>
</div>