# This file declares variables that points Capistrano to the right places.
# Copy this file to config/deploy/local_cap_config.rb and fill out the vars to fit your environment.
# config/deploy/local_cap_config.rb is in .gitignore so sensitive information won't be committed.
# All applicable variables must be declared.
#
# You can see how these variable are used in the following files:
#   1. config/deploy.rb
#   2. config/capistrano_database_yml.rb [symlinking of a shared path database.yml]
#   3. config/deploy/database.yml.erb

# Development Environment
DEVELOPMENT_WEB = 'localhost'
DEVELOPMENT_APP = 'localhost'
DEVELOPMENT_CONSOLE = 'localhost'
DEVELOPMENT_DB = 'localhost'
DEVELOPMENT_DEPLOY_TO = '/the/deploy/path'
DEVELOPMENT_USER = 'deploy_user'
DEVELOPMENT_DB_NAME = 'passwordpusher_development'
DEVELOPMENT_DB_USER = 'passwordpusher' 
DEVELOPMENT_DB_PASSWORD = 'mypassword'

# Staging Environment
STAGING_WEB = 'localhost'
STAGING_APP = 'localhost'
STAGING_CONSOLE = 'localhost'
STAGING_DB = 'localhost'
STAGING_DEPLOY_TO = '/the/deploy/path'
STAGING_USER = 'deploy_user'
STAGING_DB_NAME = 'passwordpusher_staging'
STAGING_DB_USER = 'passwordpusher' 
STAGING_DB_PASSWORD = 'mypassword'

# Preview Environment
PREVIEW_WEB = 'localhost'
PREVIEW_APP = 'localhost'
PREVIEW_CONSOLE = 'localhost'
PREVIEW_DB = 'localhost'
PREVIEW_DEPLOY_TO = '/the/deploy/path'
PREVIEW_USER = 'deploy_user'
PREVIEW_DB_NAME = 'passwordpusher_preview'
PREVIEW_DB_USER = 'passwordpusher' 
PREVIEW_DB_PASSWORD = 'mypassword'

# Production Environment
PRODUCTION_WEB = 'localhost'
PRODUCTION_APP = 'localhost'
PRODUCTION_CONSOLE = 'localhost'
PRODUCTION_DB = 'localhost'
PRODUCTION_DEPLOY_TO = '/the/deploy/path'
PRODUCTION_USER = 'deploy_user'
PRODUCTION_DB_NAME = 'passwordpusher_production'
PRODUCTION_DB_USER = 'passwordpusher' 
PRODUCTION_DB_PASSWORD = 'mypassword'

