/*
 * This file is intentionally left blank.
 *
 * Use file file to place CSS overrides in.  It is loaded last and will take precedence.
 */

/*
 Example:

.container {
    color: #000;
    background-color: #1acaca;
}
*/

.notify-emails-locale-menu {
  width: min(35rem, calc(100vw - 1rem));
  max-width: 28rem;
}

@media (min-width: 992px) {
  .notify-emails-locale-menu {
    max-width: none;
  }
}

@media (max-width: 576px) {
  .notify-emails-locale-menu {
    width: calc(100vw - 5.1rem);
    max-height: 80vh;
    overflow-y: auto;
  }
}

