
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

body {
  background: #fff;
  font-family: 'Open Sans', Tahoma, Georgia, Verdana, serif;    
  color: #6D6E70;
}
