
@import url(http://fonts.googleapis.com/css?family=Crete+Round:400,400italic);

body {
  margin: 0em 0em 3em 0em;
  text-align: center;
  background: #000000 image-url('black_wood.jpg') no-repeat center;
  font-family: 'Crete Round', serif;
  color: #ddd;
}

a:link, a:visited, a:active {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: none;
}

div.content {
  margin-top: 50px;
}
