
@import url("https://fonts.googleapis.com/css?family=Crete+Round:400,400italic");

html {
  height: 100%;
}

body {
  text-align: center;
  background: #000000;
  font-family: "Crete Round", Tahoma, Georgia, Verdana, serif;
  color: #ddd;
  width: 95%;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}

body::after{ content:''; display:block; height:100px; }

footer { 
  position:absolute;
  text-align: center;
  margin-top: 2em;
  left: 0;
  width:100%; 
  height:100px; 
}

article {
  text-align: left;
}

a:link, a:visited, a:active {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: #00CC00;
  text-decoration: none;
}

.normal-yellow-font {
  color: yellow;
}

.medium-yellow-font {
  font-size: 2em;
  color: yellow;
}

.large-yellow-font {
  font-size: 3em;
  color: yellow;
}

.footer {
  float: bottom;
}

.about_content {
  text-align: left;
  width: 90%;
  margin: 0 auto 0 auto;
}

.console {
  text-align: left;
  width: 100%;
}
