
@import url("https://fonts.googleapis.com/css?family=Crete+Round:400,400italic");

body {
  margin: 0em 0em 3em 0em;
  text-align: center;
  background: #000000 image-url('outlets.png') repeat;
  font-family: 'Crete Round', serif;
  color: #ddd;
}

a:link, a:visited, a:active {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: #00CC00;
  text-decoration: none;
}

div.content {
  margin-top: 50px;
}

.auth_providers_area {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.footer {
  font-size: 80%;
}

.about_content {
  text-align: left;
  width: 800px;
  margin: 50px auto 50px auto;
}

.console {
  text-align: left;
  width: 100%;
}
