
@import url("https://fonts.googleapis.com/css?family=Crete+Round:400,400italic");

body {
  text-align: center;
  background: #000000 image-url('outlets.png') repeat;
  font-family: "Crete Round", Tahoma, Georgia, Verdana, serif;
  color: #ddd;
  width: 95%;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

a:link, a:visited, a:active {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: #00CC00;
  text-decoration: none;
}

.auth_providers_area {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.normal-yellow-font {
  color: yellow;
}

.medium-yellow-font {
  font-size: 2em;
  color: yellow;
}

.large-yellow-font {
  font-size: 3em;
  color: yellow;
}

.footer {
  font-size: 80%;
}

.about_content {
  text-align: left;
  width: 90%;
  margin: 0 auto 0 auto;
}

.console {
  text-align: left;
  width: 100%;
}
