// Place all the styles related to the passwords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.password {
  border: 1px solid #bbb;
  width: 500px;
  height: 25px;
  text-align: center;
  color: #808080;
  font-size: 1.5em;
}

input.slider {
  width: 400px;
}

p.slider_box, span#daysrange, span#viewsrange { vertical-align: top; }
p.slider_box { margin: .5em; }
span#daysrange, span#viewsrange { display: inline-block; width: 80px; text-align: left; }

div.title {
  margin: 3em;
}

span.title {
  font-size: 4em;
  color: yellow;
}
span.tagline {
  font-size: 1.5em;
}

p.payload { margin: 1em; }

p.pwinstructions {
  margin: 1em;
  font-size: 2em;
  text-decoration: underline;
}

p.notes { margin-top: 50px; font-size: .9em; }
span.note, span.tip { font-size: .9em; }
span.note { color: #808080; }
span.tip { font-style: italic; }
p.notes a:link, p.notes a:visited, p.notes a:hover, p.notes a:active { font-size: .9em; }

p.url { vertical-align: top; margin: 0;}

p.url input {
  border: 1px solid #808080;
  text-align: center;
  width: 400px;
  font-size: .8em;
}

p.url span.clippy {}

/* This is a decent font to display passwords as L, l, 0, o, i, I are fairly distinguishable */
@import url(https://fonts.googleapis.com/css?family=PT+Mono);

div.payload {
  font-family: 'PT Mono', sans-serif;
  font-size: 4em;
  line-height: 4em;
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eee;
  background: #000;
  opacity: 0.5;
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity = 50);
}

.cookie-save { font-size: .9em; }

.share_note {
  padding: 1em;
  border: 2px solid yellow;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  background: #000;
  filter: alpha(opacity = 90);
  -khtml-opacity: 0.90;
  -moz-opacity: 0.90;
  opacity: 0.9;
  color: #fff;
}

#clippy { display: inline-block; }

#clippy span{ display: none; }

#clippy:hover span{
    display: block;
    position:absolute;
    top: 5em;
    color: #fff;
    text-align: center;
    padding: 1px;
    font-size: .8em;
    background: #808080;
    border: 1px solid yellow;
    z-index: 1;
    filter: alpha(opacity = 90);
    -khtml-opacity: 0.90;
    -moz-opacity: 0.90;
    opacity: 0.90;
}

#clippy img{
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
}

div.footer_note {
  clear: both;
  color: #bebebe;
  margin-top: 100px;
  text-align: center;
  font-size: .85em;
}
