// Place all the styles related to the passwords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Crete+Round:400,400italic);

body {
  margin: 0;
  text-align: center;
  background: #000000 image-url('black_wood.jpg') no-repeat center;
  font-family: 'Crete Round', serif;
  color: #ddd;
  
}

div.content {
  margin-top: 50px;
}

input.password {
  border: 1px solid #bbb;
  width: 500px;
  height: 25px;
  text-align: center;
  color: grey;
  font-size: 1.5em;
}

input.slider {
  width: 400px;
}

p.slider_box, span#daysrange, span#viewsrange { vertical-align: top; }
p.slider_box { margin: .5em; }
span#daysrange, span#viewsrange { display: inline-block; width: 80px; text-align: left; }

div.title {
  margin: 3em;
}

span.title {
  font-size: 4em;
  color: yellow;
}
span.tagline {
  font-size: 1.5em;
}

p.payload { margin: 1em; }

p.notes { margin-top: 50px; }
span.note, span.tip { font-size: .8em; }
span.note { color: grey; }
span.tip { font-style: italic; }

div.payload { 
  font-size: 4em;
  line-height: 4em;
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eee;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

div.footer_note {
  clear: both;
  margin-top: 100px;
  text-align: center;
  font-size: .75em;
}

div.footer_note a:link, div.footer_note a:visited, div.footer_note a:active {
  color: yellow;
  text-decoration: none;
}

div.footer_note a:hover {
  color: green;
  text-decoration: none;
}

