// Place all the styles related to the passwords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Crete+Round:400,400italic);

body {
  margin: 0;
  text-align: center;
  background: #000000 image-url('black_wood.jpg') no-repeat center;
  font-family: 'Crete Round', serif;
}

div.content {
  margin-top: 100px;
  color: #ddd;
}

input.password {
  border: 1px solid #bbb;
  width: 500px;
  height: 25px;
  text-align: center;
  color: grey;
  font-size: 1.5em;
}

input.slider {
  width: 400px;
}

p.slider_box, span#daysrange, span#viewsrange { vertical-align: top; }
p.slider_box { margin: .5em; }
span#daysrange, span#viewsrange { display: inline-block; width: 80px; text-align: left; }

div.title {
  margin: 3em;
}

span.title {
  font-size: 4em;
  color: yellow;
}
span.tagline {
  font-size: 1.5em;
}

p.payload { margin: 3em; }

p.notes { margin-top: 50px; }
span.note, span.tip { font-size: .8em; }
span.tip { font-style: italic;color: grey; }

div.payload { 
  margin: 100px;
  font-size: 5em; 
}

