div.payload {
  font-family: "PT Mono", "Courier New", sans-serif;
  font-size: 3em;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
  padding: 30px 0px 30px 0px;
  margin: 30px 0px 30px 0px;
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eee;
  width: 100%;
}


