input.password {
  border: 1px solid #bbb;
  width: 100%;
  max-width: 500px;
  height: 25px;
  text-align: center;
  color: #808080;
  font-size: 1.5em;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 400px;
  height: 6px;
  border-radius: 5px;
  background: #000;
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #DB1503;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #DB1503;
  cursor: pointer;
}

p.slider_box, span#daysrange, span#viewsrange { vertical-align: top; }
p.slider_box { margin: .5em; }
span#daysrange, span#viewsrange { display: inline-block; width: 80px; text-align: left; }

.pushit {
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  background-color: #d5d5d5;
  font-weight: bold;
  text-shadow: 1px 1px #d5d5d5;
  color: #000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d5d5d5;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

p.payload-entry { margin: 20px 0px 50px 0px; }

p.pwinstructions {
  margin: 1em;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
}

p.notes { margin-top: 50px; font-size: .9em; }
span.note, span.tip { font-size: .9em; }
span.note { color: #6D6E70; }
span.tip { font-style: italic; }
p.notes a:link, p.notes a:visited, p.notes a:hover, p.notes a:active { font-size: .9em; }

p.url { vertical-align: top; }

button.copy-secret-url {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-left: -4px;
  border: 1px solid #d5d5d5;
  vertical-align: middle;
  min-height: 36px;
  border-radius: 0 3px 3px 0;
  padding: 0;
}

button.copy-to-clipboard {
  margin-top: 20px;
  padding: 10px;
  display: inline-block;
  border: 1px solid #1F1D30;
  cursor: pointer;
  background: #303DFF;
  color: #ffffff;
  vertical-align: middle;
  border-radius: 3px 3px 3px 3px;
  font-weight: bold;
}

button.red-button {
  margin-top: 20px;
  padding: 10px;
  display: inline-block;
  border: 1px solid #DB1503;
  cursor: pointer;
  background: #F91A00;
  color: #ffffff;
  vertical-align: middle;
  border-radius: 3px 3px 3px 3px;
  font-weight: bold;
}

/* This is a decent font to display passwords as L, l, 0, o, i, I are fairly distinguishable */
@import url(https://fonts.googleapis.com/css?family=PT+Mono);

.center-content {
  padding: 0px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

div.payload {
  font-family: "PT Mono", "Courier New", sans-serif;
  font-size: 3em;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
  padding: 30px 0px 30px 0px;
  margin: 30px 0px 30px 0px;
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eee;
  width: 100%;
}

.payload-tips {
  text-align: left;
}

.cookie-save { font-size: .9em; }

.preview {
  height: 30em;
  position: relative;
  line-height: 3em;
}

.preview p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

div.input_group {
  box-sizing: border-box;
  clear: both;
  margin-bottom: 50px;
}

input#secret_url {
  box-sizing: border-box;
  position: inline;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
  text-align: center;
  vertical-align: middle;
  width: 80%;
  max-width: 800px;
  min-width: 200px;
  color: #808080;
  font-size: 1.5em;
  min-height: 36px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

#clippy { display: inline-block; }

#clippy span{ display: none; }

#clippy:hover span{
    display: block;
    position:absolute;
    top: 5em;
    color: #fff;
    text-align: center;
    padding: 1px;
    font-size: .8em;
    background: #808080;
    border: 1px solid yellow;
    z-index: 1;
    filter: alpha(opacity = 90);
    -khtml-opacity: 0.90;
    -moz-opacity: 0.90;
    opacity: 0.90;
}

#clippy img{
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
}

