// Place all the styles related to the passwords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Crete+Round:400,400italic);

body {
  margin: 0em 0em 3em 0em;
  text-align: center;
  background: #000000 image-url('black_wood.jpg') no-repeat center;
  font-family: 'Crete Round', serif;
  color: #ddd;
}

div.content {
  margin-top: 50px;
}

input.password {
  border: 1px solid #bbb;
  width: 500px;
  height: 25px;
  text-align: center;
  color: grey;
  font-size: 1.5em;
}

input.slider {
  width: 400px;
}

p.slider_box, span#daysrange, span#viewsrange { vertical-align: top; }
p.slider_box { margin: .5em; }
span#daysrange, span#viewsrange { display: inline-block; width: 80px; text-align: left; }

div.title {
  margin: 3em;
}

span.title {
  font-size: 4em;
  color: yellow;
}
span.tagline {
  font-size: 1.5em;
}

p.payload { margin: 1em; }

p.notes { margin-top: 50px; }
span.note, span.tip { font-size: .8em; }
span.note { color: grey; }
span.tip { font-style: italic; }

p.url { vertical-align: top; margin: 0;}

p.url input {
  border: 1px solid gray;
  text-align: center;
  width: 400px;
  font-size: .8em;
}

p.url span.clippy {
}

div.payload { 
  font-size: 4em;
  line-height: 4em;
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eee;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.share_note {
  padding: 1em;
  border: 2px solid yellow;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  background: #000;
  filter: alpha(opacity = 90);
  KHTMLOpacity: 0.90;
  MozOpacity: 0.90;
  opacity: 0.9;
  color: #fff;
}

#clippy { display: inline-block; }

#clippy span{ display: none; }

#clippy:hover span{
    display: block;
    position:absolute;
    top: 5em; 
    color: #fff;
    text-align: center;
    padding: 1px;
    font-size: .8em;
    background: grey;
    border: 1px solid yellow;
    z-index: 1;
    filter: alpha(opacity = 90);
    KHTMLOpacity: 0.90;
    MozOpacity: 0.90;
    opacity: 0.90;
}

div.footer_note {
  clear: both;
  margin-top: 100px;
  text-align: center;
  font-size: .75em;
}

div.footer_note a:link, div.footer_note a:visited, div.footer_note a:active {
  color: yellow;
  text-decoration: none;
}

div.footer_note a:hover {
  color: green;
  text-decoration: none;
}

