a em.bi.bi-trash:hover {
    cursor:pointer;
}

input[type='file'] {
    color: transparent;
}

.selected-file input[type='file'] {
    display: none;
}

.fi {
    border: .5px solid var(--bs-gray-300);
}

.pagination {
    justify-content: center;
}

.page { margin: 6px; }
.first { margin: 6px; }
.prev { margin: 6px; }
.next { margin: 6px; }
.last { margin: 6px; }
