<p><%= _('Hello') %>,</p>

<p>
  <%= _('We\'re contacting you to notify you that your password has been changed on') %>
  <%= link_to _('Password Pusher'), root_url %>.
</p>
<%= render 'shared/email_footer' %>