<div class='input-group mb-5 w-75' data-controller="copy">
    <input class='form-control' id='secret_url' value='<%= @secret_url %>' spellcheck='false' readonly='true' data-copy-target="payloadDiv">
    <% if Settings.language_codes %>
        <% sl = params[:push_locale].presence %>
        <% secret_aria = if sl.present?
             lang = Settings.language_codes[sl] || Settings.language_codes[sl.to_sym]
             (_('Current secret link language: %{lang}. Opens language menu.') % { lang: lang })
           else
             _('Autodetect secret link language. Opens language menu.')
           end %>
        <%= render "shared/push_locale_dropdown",
            current_locale: sl,
            heading: _('Secret Link Language'),
            menu_extra_class: "notify-emails-locale-menu",
            button_class: "btn btn-primary dropdown-toggle",
            button_aria_label: secret_aria,
            button_style: "border-radius: 0; display: flex; align-items: center;" %>
    <% end %>
    <button class=' input-group-text btn-success ' data-action="click->copy#miniCopyToClipboard" alt="<%= _('Copy to Clipboard') %>">
        <em class="bi bi-clipboard-check"></em>
    </button>
</div>
