name: Greetings

on: [pull_request_target, issues]

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1.3.0
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        pr-message:  'Hello @${{ github.actor }}, thank you for submitting a PR! We will respond as soon as possible.'
        issue-message: |
          Hello @${{ github.actor }}, thanks for contributing to the Password Pusher community!  We will respond as soon as possible.
